:root {
  --black: #161c2d;
  --light-black: #2e3648;
  --lighter-black: #404956;
  --blue: #473bf0;
  --dark-blue: #3a2fd0;
  --light-blue: #5b47ff;
  --green: #68d585;
  --dark-green: #5aa76d;
  --light-green: #76e295;
  --gray: #888888;
  --dark-gray: #5c606c;
  --light-gray: #EDEDED;
  --dark-white: #f4f7fa8a;
  --soft-background: #f4f7fa;
  --radius-s: 8px;
  --radius-m: 10px;
  --radius-l: 14px;
  --font-xs: 15px;
  --font-s: 17px;
  --font-m: 20px;
  --font-l: 36px;
  --font-xl: 48px;
  --font-w-400: 400;
  --font-w-500: 500;
  --font-w-600: 600;
  --font-w-700: 700;
  --shadow-s: 0 10px 13px 0 rgba(0, 0, 0, 0.06);
  --shadow-m: 0 20px 23px 0 rgba(0, 0, 0, 0.06);
  --shadow-l: 0 30px 33px 0 rgba(0, 0, 0, 0.06);
  --gap-s: 15px;
  --gap-m: 30px;
  --gap-l: 45px;

}

/* Basic CSS */
html {
  -webkit-font-smoothing: antialiased;
  max-width: 100%;
  overflow-x: hidden;
}
body {
  font-family: "Arimo", sans-serif;
  font-size: var(--font-m);
  color: var(--black);
  background-color: var(--soft-background);
  margin: 0;
  padding: 0;
}

section {
  overflow-x: hidden;
  max-width: 100%;
}

/* Inner Container Style */
section inner {
  max-width: 1200px;
  flex: 1;
  padding: var(--gap-m) 0px 90px 0px;
}

section inner.center-padding {
  padding: var(--gap-m) 0px;
}

/* positions */
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
/* Grid classes */
.grid, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6 {
  display: grid;
  gap: var(--gap-m);
}

.grid-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.grid-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-4 {
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-5 {
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-6 {
  grid-template-columns: repeat(6, minmax(0, 1fr));
}

/* Tablet Grid classes */
@media (min-width: 768px) {
  .tablet-grid-2 {
    display: grid;

    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .tablet-grid-3 {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  .tablet-grid-4 {
    display: grid;

    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

/* Mobile Grid classes */
@media (max-width: 767px) {
  .mobile-grid-2 {
    display: grid;

    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .mobile-grid-3 {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

/* Flex Classes */
.flex {
  display: flex;
}

.flex-1 {
  flex:1;
}

.justify-center {
  justify-items: center;
}

.align-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.flex-column {
  display: flex;
  flex-direction: column;
}
.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.justify-start {
  justify-content: flex-start;
}
.justify-end {
  justify-content: flex-end;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.justify-around {
  justify-content: space-around;
}
.align-start {
  align-items: flex-start;
}
.align-end {
  align-items: flex-end;
}
.align-center {
  align-items: center;
}

.align-stretch {
  align-items: stretch;
}
.align-content-start {
  align-content: flex-start;
}
.align-content-end {
  align-content: flex-end;
}
.align-content-center {
  align-content: center;
}
.align-content-between {
  align-content: space-between;
}
.align-content-around {
  align-content: space-around;
}
.align-content-stretch {
  align-content: stretch;
}

/* Radius Utility Classes */
.radius-s {
  border-radius: var(--radius-s);
}

.radius-m {
  border-radius: var(--radius-m);
}

.radius-l {
  border-radius: var(--radius-l);
}

/* Background Color Utility Classes */
.background-blue {
  background-color: var(--blue);
}

.background-dark {
  background-color: var(--black);
}

/* Elements */
select, input {
  height: 46px;
}
select, input, textarea {
  border: 1px solid var(--soft-background);
  padding: 10px 20px;
  border-radius: var(--radius-s);
  height: 46px;
  min-width: 200px;
  font-weight: var(--font-w-400);
  font-size: var(--font-xs);
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='6' viewBox='0 0 10 6' fill='none'><path d='M9 1L5 5L1 1' stroke='%23161C2D' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/></svg>")
    no-repeat;
  background-position: left 1.3em top 50%, 0 0;
  background-size: 0.65em auto, 100%;
  background-color: white;
  cursor: pointer;
}

.button {
  display: inline-block;
  text-decoration: none;
  text-align:center;
  cursor: pointer;
  color: white;
  background-color: var(--blue);
  padding: 10px 20px;
  border-radius: var(--radius-s);
  height: 46px;
  line-height: 25px;
  font-size: var(--font-s);
  font-weight: var(--font-w-600);
  text-wrap: nowrap;
  transition: all 0.1s ease-in-out;
}

.button:hover {
  background-color: var(--dark-blue);
}

.button.dark {
  background-color: var(--black);
}

.button.dark:hover {
  color: white;
  box-shadow: inset 0 0 0px 2px white;
  background-color: transparent;
}

.button.light {
  color: var(--black);
  background-color: white;
}

.button.light:hover {
  box-shadow: inset 0 0 0px 2px white;
  background-color: transparent;
}



box, .box {
  background: white;
  display: block;
  position: relative;
  border-radius: var(--radius-s);
  min-height: 40px;
  width: 100%;
  padding: var(--gap-m);
  box-sizing: border-box;
  overflow: hidden;
}

.no-padding {
  padding-top:0;
  padding-bottom:0;
  padding-right:0;
  padding-left:0;
}

.shadow-s {
  box-shadow: var(--shadow-s);
}
.shadow-m {
  box-shadow: var(--shadow-m);
}
.shadow-l {
  box-shadow: var(--shadow-l);
}

.float-up {
  transition: all 0.3s ease-in-out;
}
.float-up:hover {
  transform: translateY(-5px);
}

avatar,
avatar-s,
avatar-l,
avatar-xl {
  display: block;
  background-size: cover;
  background-color: var(--soft-background);
  border-radius: 50%;
}

avatar {
  height: 64px;
  width: 64px;
}

avatar-s {
  height: 30px;
  width: 30px;
}

avatar-l {
  height: 90px;
  width: 90px;
}

avatar-xl {
  height: 120px;
  width: 120px;
}

/* Gap Utility Classes */
.gap-s {
  gap: var(--gap-s);
}
.gap-m {
  gap: var(--gap-m);
}
.gap-l {
  gap: var(--gap-l);
}

tag {
  border-radius:99px;
  color:var(--blue);
  font-size:var(--font-xs);
  background-color:var(--soft-background);
  padding:2px 13px
}