:root {
  /* Color Variables */
  --black: #161c2d;
  --light-black: #2e3648;
  --lighter-black: #404956;
  --blue: #473bf0;
  --dark-blue: #3a2fd0;
  --light-blue: #5b47ff;
  --green: #68d585;
  --dark-green: #5aa76d;
  --light-green: #76e295;
  --gray: #888888;
  --dark-gray: #5c606c;
  --light-gray: #EDEDED;
  --dark-white: #f4f7fa8a;
  --soft-background: #f4f7fa;
  --red: #E35852;

  /* Radius Variables */
  --radius-s: 8px;
  --radius-m: 10px;
  --radius-l: 14px;

  /* Font Variables */
  --font-xs: 15px;
  --font-s: 17px;
  --font-m: 20px;
  --font-l: 29px;
  --font-xl: 36px;
  --font-xxl: 48px;
  --font-w-400: 400;
  --font-w-500: 500;
  --font-w-600: 600;
  --font-w-700: 700;

  /* Shadow Variables */
  --shadow-s: 0 10px 13px 0 rgba(0, 0, 0, 0.06);
  --shadow-m: 0 20px 23px 0 rgba(0, 0, 0, 0.06);
  --shadow-l: 0 30px 33px 0 rgba(0, 0, 0, 0.06);

  /* Gap Variables */
  --gap-xs: 7px;
  --gap-s: 15px;
  --gap-m: 30px;
  --gap-l: 45px;
  --gap-xl: 65px;
}

/* BASIC STYLES */

html {
  -webkit-font-smoothing: antialiased;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  font-family: "Arimo", sans-serif;
  font-size: var(--font-m);
  color: var(--black);
  background-color: var(--soft-background);
  margin: 0;
  padding: 0;
}

/* TYPOGRAPHY */

h1 {
  color: var(--black);
  font-size: var(--font-xxl);
  font-weight: var(--font-w-700);
  letter-spacing: -2px;
  line-height: 55px;
}

h2 {
  font-weight: var(--font-w-700);
  font-size: var(--font-l);
}

h3 {
  font-size: var(--font-m);
  font-weight: var(--font-w-700);
}

h5 {
  font-size: var(--font-s);
  font-weight: var(--font-w-600);
  color: var(--dark-gray);
  line-height: 25px;
}

h6 {
  font-size: var(--font-xs);
  color: var(--dark-gray);
}

/* CONTAINER STYLES */

header,
section,
footer,
subfooter {
  display: flex;
  align-items: stretch;
  justify-content: center;
  overflow-x: hidden;
  max-width: 100%;
  padding: 0 var(--gap-s);
}

section inner,
header inner,
footer inner,
subfooter inner {
  width: 1300px;
  max-width: 100%;
  padding: var(--gap-m) 0px;
}

section:not(.no-bottom-padding) inner {
  padding-bottom: 160px;
}

section inner.center-padding,
header inner.center-padding,
footer inner.center-padding,
subfooter inner.center-padding {
  padding: var(--gap-m) 0px;
}

section {
  background-color: white;
}

section.dark {
  background-color: var(--black);
}

section.light {
  background-color: var(--soft-background);
}

section inner > h1,
section inner > h2,
section inner > h3,
section inner > h4 {
  margin-bottom: var(--gap-m);
}

section.dark inner > h1,
section.dark inner > h2,
section.dark inner > h3,
section.dark inner > h4 {
  color: white;
}

section.light inner > h1,
section.light inner > h2,
section.light inner > h3,
section.light inner > h4 {
  color: var(--blue);
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 2000;
  height: 80px;
  overflow: visible;
}

body:not(.home) header {
  position: fixed;
  background-color: #ffffffc9;
  backdrop-filter: blur(4px);
  border-bottom: 1px solid var(--light-gray);
}
header inner {
  padding: 0;
}

.header-padding {
  padding-top: 80px;
}

@media (max-width: 780px) {
  section inner {
    padding-bottom: 80px;
  }

  header {
    position: fixed;
    background-color: #ffffffc9;
    backdrop-filter: blur(4px);
    border-bottom: 1px solid var (--light-gray);
    height: 60px;
    overflow: visible;
  }

  .header-padding {
    padding-top: 60px;
  }
}



/* POSITION UTILITIES */

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

/* GRID SYSTEM */

grid ,.grid, grid-2 ,.grid-2, grid-3 ,.grid-3, grid-4 ,.grid-4, grid-5 ,.grid-5, grid-6 ,.grid-6 {
  display: grid;
  gap: var(--gap-m);
}

grid-2,.grid-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

grid-3 ,.grid-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

grid-4 ,.grid-4 {
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

grid-5 ,.grid-5 {
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

grid-6 ,.grid-6 {
  grid-template-columns: repeat(6, minmax(0, 1fr));
}

@media (max-width: 780px) {
  .grid, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6 {
    gap: var(--gap-s);
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

/* FLEXBOX UTILITIES */

.flex {
  display: flex !important;
}

.flex-1 {
  flex: 1;
}

.justify-center {
  justify-items: center;
}

.align-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.align-start {
  align-items: flex-start;
}

.align-end {
  align-items: flex-end;
}

.align-center {
  align-items: center;
}

.align-stretch {
  align-items: stretch;
}

.align-content-start {
  align-content: flex-start;
}

.align-content-end {
  align-content: flex-end;
}

.align-content-center {
  align-content: center;
}

.align-content-between {
  align-content: space-between;
}

.align-content-around {
  align-content: space-around;
}

.align-content-stretch {
  align-content: stretch;
}

@media (max-width: 780px) {
  .tablet-flex-column {
    flex-direction: column;
  }
  
  .tablet-flex-column-reverse {
    flex-direction: column-reverse;
  }
}

@media (max-width: 550px) {
  .mobile-flex-column {
    flex-direction: column;
  }
  
  .mobile-flex-column-reverse {
    flex-direction: column-reverse;
  }
}

/* RADIUS UTILITIES */

.radius-s {
  border-radius: var(--radius-s);
}

.radius-m {
  border-radius: var(--radius-m);
}

.radius-l {
  border-radius: var(--radius-l);
}

/* BACKGROUND COLOR UTILITIES */

.background-blue {
  background-color: var(--blue);
}

.background-dark {
  background-color: var(--black);
}

.shadow-s {
  box-shadow: var(--shadow-s);
}

.shadow-m {
  box-shadow: var(--shadow-m);
}

.shadow-l {
  box-shadow: var(--shadow-l);
}

.float-up {
  transition: all 0.3s ease-in-out;
}

.float-up:hover {
  transform: translateY(-5px);
}

.wp-link:hover {
  opacity: 1 !important;
}


/* GAP UTILITIES */

.gap-xs {
  gap: var(--gap-xs);
}

.gap-s {
  gap: var(--gap-s);
}

.gap-m {
  gap: var(--gap-m);
}

.gap-l {
  gap: var(--gap-l);
}

.gap-xl {
  gap: var(--gap-xl);
}

.bottom-gap-xs {
  margin-bottom: var(--gap-xs);
}

.bottom-gap-s {
  margin-bottom: var(--gap-s);
}

.bottom-gap-m {
  margin-bottom: var(--gap-m);
}

.bottom-gap-l {
  margin-bottom: var(--gap-l);
}

.bottom-gap-xl {
  margin-bottom: var(--gap-xl);
}

@media (max-width: 780px) {
  .gap-m {
    gap: var(--gap-s);
  }

  .mobile-gap-xs {
    gap: var(--gap-xs);
  }
  
  .mobile-gap-s {
    gap: var(--gap-s);
  }
  
  .mobile-gap-m {
    gap: var(--gap-m);
  }
  
  .mobile-gap-l {
    gap: var(--gap-l);
  }
  
  .mobile-gap-xl {
    gap: var(--gap-xl);
  }
  
}

/* GAP ELEMENTS */

gap-s, gap-m, gap-l {
  display: block;
  position: relative;
  width: 100%;
}

gap-s {
  height: var(--gap-s);
}

gap-m {
  height: var(--gap-m);
}

gap-l {
  height: var(--gap-l);
}

gap-s.line::before, gap-m.line::before, gap-l.line::before {
  content: '';
  height: 1px;
  width: 100%;
  position: absolute;
  left: 0;
  top: 50%;
  background-color: var(--light-gray);
}

/* MARGIN UTILITIES */

.margin-t-s {
  margin-top: var(--gap-s);
}

.margin-t-m {
  margin-top: var(--gap-m);
}

.margin-t-l {
  margin-top: var(--gap-l);
}

.margin-b-s {
  margin-bottom: var(--gap-s);
}

.margin-b-m {
  margin-bottom: var (--gap-m);
}

.margin-b-l {
  margin-bottom: var (--gap-l);
}




/* MEDIA QUERIES */

@media (min-width: 781px) {
  .hide-desktop {
    display: none !important;
  }
}

@media (max-width: 780px) {
  .hide-tablet {
    display: none !important;
  }
}

@media (max-width: 550px) {
  .hide-mobile {
    display: none !important;
  }
}

/* KEYFRAMES */

@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

/* OVERRIDES (KEEP ON END) */

.no-padding {
  padding: 0!important;
}
